<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Titulo de prueba</title>
    </head>
    <body>
        <nav>
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/product"> List of Products</a></li>

            </ul>
        </nav>
